<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>簡単！肉じゃがの作り方</title>
        <link rel="stylesheet" href="ch.css">
    </head>
    <body>
        <article>
            <header>
                <h1>簡単！肉じゃがの作り方</h1>
                <p>煮崩れしにくい肉じゃがレシピを紹介します。</p>
            </header>
                <p><img src="recipe.jpg" alt="完成した肉じゃがの写真" width="800" height="400"></p>
    <!-- [完成した肉じゃがの写真] -->
            <div class="flexContainer">
                <section>
                    <h2 class="h2">材料</h2>
                    <ul>
                        <li>牛肉</li>
                        <li>じゃがいも</li>
                        <li>玉ねぎ</li>
                        <li>にんじん</li>
                        <li>糸こんにゃく</li>
                        <li>調味料</li>
                        <li>水</li>
                    </ul>
                </section>
                <section>
                    <h2 class="h2">手順</h2>
                    <ol>
                        <li>具材を食べやすい大きさにカットします。</li>
                        <li>カットした具材を鍋に入れて炒めます。</li>
                        <li>調味料と水を鍋に入れ、煮込みます。</li>
                        <li>じゃがいもに味がしみたら完成です。</li>
                    </ol>
                    <p>ポイント：じゃがいもは煮物向きなメークインを使います</p>
                </section>
            </div>
            <div class="btnArea">
                <p class="btn"><a href="#">キットのご購入はこちら</a></p>
                <address>
                    <p>レシピのお問い合わせは<a href="#">こちら</a></p>
                </address>
            </div>
        </article>
    </body>
    </html>
10:51
@charset "UTF-8";
* {
    box-sizing: border-box;
    font-family: メイリオ;
    margin: 0;
}
body {
    background: #F8D8BF;
    margin: 0;
    padding: 0;
}
article {
    width: 840px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    max-width: 90%;
}
header {
    background: #f83;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 0;
}
section {
    border: 1px solid #ddd;
    padding: 20px;
}
img {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}
h2{
    color: #f83;
    margin-bottom: 15px;
}
ul,ol {
    padding-left: 1.2em;
}
address {
    text-align: center;
}
.flexContainer {
    display: flex;
    justify-content: space-around;
}
.btnArea {
    margin: 40px;
}
p.btn {
    margin: 0 auto 40px;
    width: 300px;
    text-align: center;
}
p.btn a {
    display: block;
    padding: 20px;
    background: #f83;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2em;
}









