@charset "UTF-8";
*{
  box-sizing: border-box;
}
.contest{
  box-sizing: contest-box;
}
.first p{
  width: 300px;
padding: 20px;
border: 6px solid #00f;
margin: 30px auto;
background-color: #eee;
text-align: 
center;
}

.second {
  background-color: #ffc;
}
.second p {
  background-color: #f0c;
  color: #fff;
}
.px{
  width: 100px;
  height: 100px;
}
.per{
  width: 50%;
  height: 50%;
}
p.parent {
  background-color: transparent;
  text-align: right;
  color: #000;
  position: relative;
  float: right;
  top: 10px;
  right: 20px;
}
.third {
  font-size: 20px;
}
.third p {
  width: 80%;
  background: #ffc;
}
p.hamidasu{
  height: 100px;
}
p.hamidasanai{
  height: auto;
}